.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.game-over {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #007bff;
    width: 500px;
    height: 200px;
    border-radius: 10px;
    margin-top: 50px;
    background-color: #007bff;
}

.game-over p {
    color: #FFF;
    font-size: 22px;
    font-weight: bolder;
    background-color: #007bff;
}